doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/components/kube/kube.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='http://localhost:35729/livereload.js')
  body
    nav.site-nav.units-row
      h1.logo.unit-70 Spe
        span.c c
        | iou
        span.s ss
        span.logo-slogan Because CSS looked so neat at first!

      include search

    .actions-container.container
      block actions
        //- NOP
        
    block content

    block pageScripts

    include intercom