
.search-bar.unit-30
	.search-bar-form
		form.forms(action="/search")
			if !query
				- query = {search: '', parent: ''}
			label.input-groups
				input(type='search', accesskey='/', placeholder="class-name", name='search', value=query.search)
				span.btn-append
					button.btn Go