extends ../layout

block content
    .container
        .data-container
            ul.data-list
                for item in items
                    li
                        a(href='/uses/' + item.className)= item.className
                else
                    li No items found
