extends ../layout

block actions
    a(href='/').back-btn Back

block content
    .container
        h1 #{cssClass.className}
            small Class Usage
        .data-container
            ul.data-list
                for item in cssClass.get('uses')
                    li.units-row
                        .unit-30
                            | !{elementLink(cssClass, item)}
                        .unit-30
                            | #{item.element}
                        .unit-30
                            a(href=item.uri)= item.uri
                else
                    li No items found
